<h1>les toilettes</h1>

<ul>
  <% @toilets.each do |toilet| %>
  <li><%= toilet.title %></li>
  <% end %>
</ul>


<%= link_to "Add chiotte", new_toilet_path %>

<!--  To display the pictures with Cloudinary -->

<%# @article.photos.each do |photo| %>
  <%# cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<%# end %>
