<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1560448075-bb485b067938?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
  <div class="container">
  </div>
</div>


<div class="toilet_body flex">
  <div class="toilet_detail">
    <div class="toilet_detail_top flex">
      <div class="title"></div>
      <div class="avatar_big"></div>
    </div>
    <div class="description">
    </div>
  </div>

  <div class="booking_form">
  </div>
</div>
