.container-container {
  display: flex;
  justify-content: space-between
}
.card-product {
  overflow: hidden;
  height: 120px;
  width: 540px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 10px;
  border-radius: 7px;
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 13px;
  line-height: 1;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-content {
  height: 90px;
  width: 470px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-buttons-bookings-to-come {
  width: 375px;
  padding-left: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-buttons-passed-bookings {
  width: 375px;
  padding-left: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.address-date {
  width: 400px;
  padding-left: 5px;
  display: flex;
  justify-content: space-between;
}

.pending {
  color: orange;
}

.confirmed {
  color: green;
}

.rejected {
  color: red;
}
