.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 350px;
  height: 250px;
  border-radius: $border-radius-lg;
    &:hover {
      cursor: pointer;
      transition: background-color 0.2s ease-out;
      background: #F9F9F9;
      box-shadow: 0 0 15px rgba(0,0,0,0.4);
    }
}

.card-trip > img {
  height: 160px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.grid-cards{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1em;
  flex-grow: 1;
  margin-bottom: 50px;
  margin: 10px;
    a{
      color: #444D56;
      text-decoration: none;
    }
}

.card-trip-infos {
  &:hover {
    color:#212121;
  }
  p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-width: 250px;
  }
  .gender-index{
    font-size: 20px;
    padding-right: 7px;
  }
}


@media (max-width: 991px) {
  .grid-cards{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .grid-cards{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 576px) {
  .grid-cards{
    grid-template-columns: 1fr;
  }
  #map{
    display: none;
  }
}
