.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-family: $headers-font;
  height: 90px;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 230px;
}

.fas.fa-poo {
  color: red;
  font-size: 30px;
}

.notifications {
  position: relative;
}

.badge-icon {
  color: white;
  position: absolute;
  right: -7px;
  top: 2px;
  background-color: #EF476F;
  border-radius: 50%;
  padding-right: 5px;
  padding-bottom: 4px;
  padding-left: 5px;
  line-height: 1;
  font-size: 70%;
  font-weight: bold;
}


.navbar-light .navbar-nav .nav-link {
      border-bottom: 0px solid $blue-caca;

  &.nav-active {
  color: $blue-caca;
  font-weight: bold;
    }

  &:hover {
      border-bottom: 2px solid $blue-caca;
  }
}
